*{
    box-sizing: border-box;
    list-style: none;
}

:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #f69d3c;
}

html{
    line-height: 1.6rem;
    scroll-behavior: smooth;
}

header{
    position: fixed;
    top: 0;
    z-index: 9999;
    left: 0;
    right: 0;
    background: var(--primary-color);
}

footer{
    border-top: 1px solid var(--primary-color);
}

.text-center{
    text-align: center;
}

.container{
    padding-top: 54px !important;
    padding-bottom: 32px !important;
}

.brand-name {
    font-size: 24px;
    background: -webkit-linear-gradient(#4158D0 , #C850C0 , #FFCC70);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
}

.container h1{
    font-size: 36px;
    margin: 0;
    letter-spacing: 1px;
    color: var(--text-color);
}

.container > h2{
    font-size: 24px;
    margin-bottom: 24px;
    font-style: italic;
    color: var(--primary-color);
    letter-spacing: 1px;
    font-weight: 400;
}

#contact{
    padding-top: 24px !important;
}

.bg-primary{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: url('./assets/img/background.jpg') no-repeat center / cover;
    display: flex;
    justify-content: space-around ;
    align-items: center;
}

.btn{
    border: 1px solid var(--text-color);
    padding: 10px;
    border-radius: 4px;
    transition: 0.3s linear all;
}

.btn:hover{
    opacity: 0.8;
}

.brand-form{
    position: relative;
    z-index: 999;
    margin: 0;
    color: #fff;
    font-size: 64px;
    letter-spacing: 3px;
    text-shadow: 4px 4px 8px rgb(0 0 0 / 60%);
    padding-top: 24px;
    display: block;
    top: -25%;
}

.brand-form__line{
    position: absolute;
    bottom: 4px;
    width: 100%;
    height: 4px;
    background-color: #FFCC70;
    margin: 0;
    bottom: -25px;
}

.qr-code{
    width: 150px;
    height: 150px;
    cursor: no-drop;
}

@media screen and (max-width: 739px) {
    .brand-form{
        font-size: 32px;
        top: 0;
        margin-bottom: 24px;
        padding-top: 0;
    }
}