$primaryColor: #f69d3c;

.text{
    color: #333 !important;
    font-size: 18px;
    letter-spacing: 0.8px;
    text-align: justify;
    a{
        color: $primaryColor;
        text-decoration: none;
        letter-spacing: 1px;
        &:hover{
            text-decoration: underline;
        }
    }
}

.listAdv{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 54px;
}

.advImg{
    width: 100%;
    max-width: 390px;
    height: 250px;
    border-radius: 3px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 8px 0;
    transition: 0.2s ease-in all;
    .advContent{
        position: absolute;
        bottom: 10px;
        left: 10px;
        transform: translate(10px, -10px);
        color: #fff;
        font-weight: 500;
        text-shadow: 1px 4px 6px rgba(0,0,0,0.3);
        transition: 0.2s ease-in all;
    }

    &:hover{
        opacity: 0.9;
        transform: scale(1.02);
        .advContent{
            color: $primaryColor;
        }
    }
}

.dowloadApps{
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;

    img{
        cursor: pointer;
        &:hover{
            filter: contrast(150%);
        }
    }
}

@mixin pseduoClassCenter{
    content: "";
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 4px;
    border-radius: 50%;
    background: linear-gradient(#4158D0 , #C850C0 , #FFCC70);
}

.suggestTour{
    padding-left: 50px !important;
    .listTours{
        text-shadow: 2px 2px 6px black;
        justify-content: space-around;
        position: relative;
        &::before{
           @include pseduoClassCenter;
        }
        &::after{
            @include pseduoClassCenter;
            width: 4px ;
            height: 96%;
        }
        .suggestTour{
            position: relative;
            background-size: cover;
            height: 280px;
            background-position: center;
            background-repeat: no-repeat;
            color: #fff;
            margin-bottom: 16px;
            border-radius: 12px;
            box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
            cursor: pointer;
            transition: 0.3s ease-in-out all;
            &:nth-child(odd):hover{
                box-shadow: 4px 4px 12px rgba(0,0,0,0.8);
                transform: translateX(10px);
            }
            &:nth-child(even):hover{
                box-shadow: 4px 4px 12px rgba(0,0,0,0.8);
                transform: translateX(-10px);
            }
        }
        .suggestPlace{
            position: absolute;
            top: 50%;
            left: 10%;
            transform: translate(-10%,-50%);
        }
    }

}

