$primaryColor: #f69d3c;

.category{
    text-align: justify;
    color: #333;
    padding: 12px 0 24px;
    h1{
        color: #333;
        font-weight: 500;
        border-bottom: 1px solid $primaryColor;
    }

    h2{
        font-size: 18px;
        font-weight: 400;
    }
}

.categoryItem{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    padding-bottom: 30%;
    position: relative;
    z-index: 1;
    button{
        max-width: 100px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        border-radius: 36px;
        color: #fff;
        font-size: 16px;
        padding: 12px 14px;
        letter-spacing: 1px;
        background-color: rgba(0,0,0,0.5);
        border: 1px solid transparent;
        min-width: 200px;
        transition: 0.3s linear all;
        &:hover{
            letter-spacing: 2px;
            background-color: #fff;
            cursor: pointer;
            a{
                color: $primaryColor;
            }
        }
        a{
            text-decoration: none;
            color: #fff;
            display: block;
        }
    }
}

@media screen and (max-width:740px)  {
    
    h1{
        font-size: 38px !important;
        text-align: center;
        color: $primaryColor !important;
    }

    h2{
        font-size: 24px !important;
    }
    .categoryItem{
        padding-bottom: 100%;
    }

    .categoriesWrap{
        padding-left: 0px !important;
    }
}