$primaryColor: #f69d3c;

.footerItem{
    // margin-top: -30px;
    h1{
        color: $primaryColor;
        font-size: 28px;
        font-weight: 400;
       
    }

    svg{
        width: 16px;
        height: 16px;
        fill: #007bff;
        margin-right: 8px;
        cursor: pointer;
        transition: all 0.3s linear;
        &:hover{
            fill: $primaryColor;
        }
    }

    a{
        color: #007bff;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
            color:$primaryColor;
        }
    }

    @media screen and(max-width: 740px) {
        h1{
            @media screen and(max-width: 740px) {
                font-size: 36px !important;
                text-align: left;
               
            }
        }
        span{
            font-size: 24px;
        }
        svg{
            height: 30px;
            width: 30px;
        }
    }
}