$primaryColor: #f69d3c;

.formContainer{
    padding-left: 65px;
    margin: 12px 0;
    .formGroup{
        padding: 10px 0 0;
        margin: 0px 0px 4px;
        font-size: 16px;
    }
    
    .formLabel{
        display: block;
        color: #333;
        font-weight: 500;
        padding-left: 0;
        padding-bottom: 8px;
        cursor: pointer;
    }
    
    .formControl{
        display: block;
        width: 50%;
        padding: 10px 12px;
        border: 1px solid $primaryColor;
        border-radius: 24px;
        &:focus{
            outline: 1px solid $primaryColor;
            border: none;
        }
    }

    .formMsg{
        color: red;
    }
    
    input[type="radio"]{
        margin-left: 10px;
        cursor: pointer;
    }

    h1{
        font-size: 42px;
        letter-spacing: 1px;
    }
    
}

.avatar{
    width: 100%;
    max-height: 200px;        
    object-fit: cover;
}

button{
    font-size: 16px;
    padding: 6px 4px;
    background: $primaryColor;
    border: 1px solid #333;
    border-radius: 4px;
    cursor: pointer;
    &:hover{
        opacity: 0.8;
    }
}

.btnUpdateAccount{
    width: 100%;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    letter-spacing:1px;
    border-radius: 20px;
}

.btnAddBanking{
    @extend button;
    display: block;
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
    padding: 6px 50px;
    margin-top: 24px;
}


@media screen and (max-width: 1023px) {
    nav{
        padding: 0 32px;
    }
    *{
        font-size: 24px;
    }
    .formContainer{
        h1{
            font-size: 32px;
        }

        .formControl{
            width: 100% !important;
        }
    }

    .btnAddBanking{
        width: 100%;
        border-radius: 12px;
        font-size: 24px;
    }
}

@media screen and (max-width: 740px){
    .formContainer{
        padding-left: 12px;
        padding-right: 12px;
        h1{
            font-size: 36px!important;
        }
    }
    .avatar{
        max-height: 100%;       
        padding-top: 80px;
    }

    .formGroup{
        font-size: 24px!important;
    }

    .formControl{
        font-size: 22px !important;
    }

    .btnUpdateAccount{
        padding: 16px;
        margin-top: 12px;
        font-size: 22px;
        letter-spacing: 2px;
    }
}