
.introContainer{
    background: url('./img_intro.jpg') top center / cover no-repeat ;
    padding-top: 50%;
    position: relative;
    z-index: 1;
    a{
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, 55%);
        border-radius: 36px;
        color: #fff;
        font-size: 16px;
        padding: 12px 8px;
        text-decoration: none;
        text-align: center;
        letter-spacing: 1px;
        background-color: rgba(0,0,0,0.5);
        border: 1px solid transparent;
        min-width: 180px;
        &:hover{
            letter-spacing: 2px;
            background-color: orange;
            cursor: pointer;
        }
    }
}

.introContent{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.8);
    text-align: center;
    width: 100%;
    h1{
        font-size: 52px;
        letter-spacing: 2px;
        margin-bottom: 0;
    }
    h2{
        margin-top: 10px;
        font-size: 42px;
    }
}

// Slides
@mixin button(){
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    border: none;
    font-size: 35px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s linear all;
    &:hover{
        background-color: rgba(0,0,0,0.2);
    }
}
.introSlides{
    position: relative;
    .btnLeft{
        @include button;
        left: 12%;
    }

    .btnRight{
        @include button;
        right: 12%;
    }

    img{
        width: 80%;
        height: 65vh;
        border-radius: 4px;
        object-fit: cover;
        filter: drop-shadow(1px 1px 6px rgba(0,0,0,0.6));
    }
    
    .introText{
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translate(-50%, 10%);
        color: #fff;
        text-shadow: 1px 1px 6px black;
        letter-spacing: 1px;
        h2{
            font-size: 36px;
            font-weight: 400;
            margin-bottom: 4px;
        }
        p{
            font-size: 20px;

        }
    }
}

