$primaryColor: #f69d3c;
@mixin scroll(){
    &::-webkit-scrollbar{
        width: 6px; 
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 25px;
        background-color: rgb(243, 187, 82);
    }
    &::-webkit-scrollbar-track{
        border-radius: 25px;
        background: rgba(0,0,0,0.1);
    }
}
nav{
    justify-content: space-between;
}
.navRight{
    display: flex !important;
    justify-content: flex-end;
    align-items: center;
    .item{
        text-decoration: none;
        color: #fff;
        padding: 10px 16px;
        background-color: #4158D0;
        border-radius: 12px;
        margin-left: 8px;
        transition: 0.2s linear all;
        &:hover{
            opacity: 0.8;
            background-color:tomato;
            border-bottom: none;
        }
    }
    .navUser{
        padding: 2px 14px;
        color: #fff;
        font-size: 20px;
        border: 1px solid currentColor;
        border-radius: 4px;
        cursor: pointer;
        position: relative;
        .navUserChildren{
            position: absolute;
            z-index: 999;
            top: 100%;
            right: 0;
            background-color: #fff;
            box-shadow: 1px 1px 6px rgba(0,0,0,0.5);
            min-width: 220px;
            transform-origin: top right;
            border-radius: 2px;
            display: block !important;
            a{
                padding: 10px 8px;
                font-size: 16px;
                text-decoration: none;
                &:hover{
                    border: none;
                    color: orange;
                }
            }
            // display: none !important;
            &::before{
                content: "";
                position: absolute;
                top: -28px;
                right: 5%;
                border: 14px solid;
                border-color: transparent transparent #fff transparent;
            }

            .svgOption{
                width: 24px;
                height: 24px;
                padding-right: 4px;
                margin-right: 4px;
            }

            li{
                color: #333;
                font-size: 16px;
                padding: 0 8px;
                display: flex;
                align-items: center;
                &:not(:last-child){
                    border-bottom: 1px solid orange;
                }

                &:hover{
                    fill: orange;
                    svg{
                        transform: translateX(4px);
                    }
                }
                svg{
                    padding-right: 12px;
                    transition: 0.3s ease all;
                }
            }
        }
    }
}


.avatar{
    width: 100%;
    border: 1px solid $primaryColor;
    border-radius: 8px;
}

.formContainer{
    padding-left: 65px;
    .formGroup{
        padding: 10px 0 0;
        margin: 0px 0px 4px;
        font-size: 16px;
    }
    
    .formLabel{
        display: block;
        color: #333;
        font-weight: 500;
        padding-left: 0;
        padding-bottom: 8px;
        cursor: pointer;
    }
    
    .formControl{
        display: block;
        width: 50% !important;
        padding: 10px 12px !important;
        border: 1px solid $primaryColor;
        border-radius: 24px !important;
        &:focus{
            outline: 1px solid $primaryColor;
            border: none;
        }
    }
    
    input[type="radio"]{
        margin-left: 10px;
        cursor: pointer;
    }

}



.tourItem{
    border: 1px solid $primaryColor;
    
    img{
        width: 100%;
        max-height: 120px;
        object-fit: cover;
    }
    & > div{
        border-right: 1px solid $primaryColor;
        padding: 10px 5px;
        text-align: center;
        font-size: 18px;
    }

    .tourInfo{
        text-align: start;
        padding-left: 10px;
        font-size: 16px;

        p{
            margin: 0;
        }
    }

    .wrapBtns{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        button{
            padding: 8px 18px;
            border: 1px solid #333;
            border-radius: 12px;
            font-size: 16px;
            margin-right: 12px;
            min-width: 88px;
            cursor: pointer;
            transition: all 0.3s linear;
            &:hover{
                opacity: 0.6;
            }
        }

        button:first-child{
            color: #fff;
            background-color: #17a2b8;
            border-color: #17a2b8;
        }

        button:last-child{
            color: #212529;
            background-color: #ffc107;
            border-color: #ffc107;
        }
    }

}

.btnUpdateAccount{
    width: 90%;
    padding: 6px 5px;
    color: #fff;
    border-radius: 8px;
    border: 1px solid #333;
    background-color: orange;
    font-size: 16px;
    &:hover{
        opacity: 0.8;
        cursor: pointer;
    }
}

.formMsg.formMsgError{
    display: block;
    margin-top: 4px;
    color: red;
}

.formMsg.formMsgSuccess{
    display: block;
    margin-top: 4px;
    color: green;
}

.containerModal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 9999;
    .modalTour{
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 300px;
        max-width: 800px;
        background-color: #fff;
        min-height: 200px;
        max-height: 500px;
        transform: translate(-50%, -50%);
        padding: 16px 32px 50px;
        border-radius: 8px;
        box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
        overflow-y: scroll;
        @include scroll;

        .closeBtn{
            position: absolute;
            top: 1px;
            right: 10px;
            button{
                border: none;
                width: 100%;
                display: block;
                background: #fff;
                cursor: pointer;
                padding: 8px 12px;
                transition: all 0.3s linear;
                &:hover{
                    opacity: 0.6;
                    i{
                        color: $primaryColor;
                    }
                }
                svg{
                    width: 28px;
                    fill: #333;
                }
            }
        }

        h1{
            font-size: 32px;
        }

        .tourIntro{
            padding: 8px;
            display: block;
            animation: fadeIn 0.4s ease-in;
            margin-right: 8px;
            img{
                width: 100%;
                border-radius: 12px;
            }

            p{
                text-align: justify;
            }
        }

        .tourAmount{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-right: 4px;
            font-size: 16px;
            button{
                width: 28px;
                height: 28px;
                border-radius: 50%;
                background-color: transparent;
                padding: 4px;
                font-size: 18px;
                text-align: center;
                color: rgba(0, 119, 255, 0.801);
                cursor: pointer;
                border: 1px solid #333;
                margin: 14px 0;
                &:hover{
                    opacity: 0.8;
                }
            }
        }

        .containerAuthorize{
            padding: 2px;
            & > div{
                padding: 4px;
                margin-bottom: 4px;
                font-size: 19px;
                letter-spacing: 1px;
            }
            label{
                font-weight: bold;
                padding-left: 4px;
            }
        }

    }

    .modalAddTour{
        @extend .modalTour;
        min-width: 600px;
    }

    .modalAuthorize{
        @extend .modalTour;
        min-width: 500px;
    }
   
}

.formGroup{
    padding: 8px ;
    .formLabel{
        font-size: 16px;
        margin-top: 8px;
        display: block;
    }

    .formControl{
        padding: 6px 8px;
        width: 100%;
        margin-top: 8px;
        border-radius: 4px;
        outline: none;
        border: 1px solid $primaryColor;
    }

    span{
        font-size: 18px;
    }

    button{
        min-width: 95px;
        padding: 6px 12px;
        border: 1px solid $primaryColor;
        font-size: 16px;
        background-color: $primaryColor;
        color: #fff;
        border-radius: 8px;
        cursor: pointer;
        &:hover{
            opacity: 0.8;
        }
    }

    img{
        width: 100%;
        margin-top: 8px;
        border-radius: 8px;
        object-fit: contain;
    }

    textarea{
        width: 100%;
        height: 90%;
        margin-bottom: 20px;
    }
}

.row{
    display: flex;
}

