/* Login form */

#loginForm{
    // position: absolute;
    // top: 55%;
    // right: 10%;
    min-width: 370px;
    max-width: 500px;
    background-color: #fff;
    padding: 10px 25px;
    min-height: 380px;
    // transform: translate(-10%, -50%);
    border-radius: 8px;
    box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
    h1 {
        font-size: 38px;
        padding: 10px 0 20px;
        margin-top: 0;
        margin-bottom: 0;
        letter-spacing: 1px;
        background: -webkit-linear-gradient(#4158D0 , #C850C0 , #FFCC70);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border-bottom: 1px solid #FFCC70;
    }

  
}

#registerForm{
    @extend #loginForm;
    min-width: 600px;
    min-height: 380px;
    max-height: 95vh;
    overflow: auto;
    &::-webkit-scrollbar{
        width: 7px; 
    }
    &::-webkit-scrollbar-thumb {
        background: -webkit-linear-gradient(#4158D0 , #C850C0 , #FFCC70);
        border-radius: 25px;
    }

    @media screen and (max-width: 739px) {
       min-width: 100%;
       min-height: 100%;
    }
}


.formGroup{
    padding: 10px 0 0;
    margin: 0px 0px 4px;
}

.formLabel{
    display: block;
    color: var(--text-color);
    font-weight: 500;
    padding-bottom: 8px;
    cursor: pointer;
}

.formControl{
    display: block;
    width: 100%;
    padding: 10px 12px;
    border: 1px solid var(--text-color);
    border-radius: 12px;
    outline: none;
}

input[type="radio"]{
    margin-left: 10px;
    cursor: pointer;
}

.formMsg.formMsgError{
    display: block;
    margin-top: 4px;
    color: red;
}

.link{
    color: #0069d9;
    transition: all 0.2s linear;
    text-decoration: none;
    &:hover{
        opacity: 0.8;
        color: orangered;
        text-decoration: underline;
    }
}

.btnLogin{
    width: 100%;
    background: linear-gradient(to bottom, #4158D0, #C850C0);
    border: 1px solid #C850C0;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
}

.btnRegister{
    @extend .btnLogin;
    padding: 10px;
    border-radius: 25px;
    transition: all 0.3s ease;
    &:hover{
        opacity: 0.8;
    }
}